@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --yellow: 47 87% 65%;
    --green: 175 49% 53%;
    --app-red: 0 71% 51%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    font-family: 'Golos Text', sans-serif;
    @apply bg-[#f0f0f0] text-foreground;
  }

  .yellow-button {
    background-color: #f3d25a;
  }

  .green-button {
    background-color: #4ac4ba;
  }

  .app-link {
    @apply text-blue-500;
  }

  .shift-row {
    @apply py-2 border-t border-gray-200 grid grid-cols-5 items-center;
  }
}